.svg-active {
    color: #4682A9;
}

.svg-inactive {
    color: #868E8C;
}

.label {
    font-size: 16px;
    font-weight: 600;    
}

.form-control {
    font-size: 16px;
}

.btn-submit {
    background-color: #4682A9;
    color: white;
}

.btn-submit:hover {
    background-color: #316384;
    color: white;
}

.img-cc {
    width: auto;
    height: 100px;
    object-fit: cover;
}

.status {
    background-color: #E4E4E4;
    font-weight: 600;
    color: #4682A9;
    font-size: 14px;
    border-radius: 20px;
    width: fit-content;
}

.status.active {
    background-color: #4682A9;
    font-weight: 600;
    color: white;
    font-size: 14px;
    border-radius: 20px;
    width: fit-content;
}

.title-product {
    font-weight: 700;
    color: #4682A9;
    font-size: 21px;
}

.price-total {
    font-size: 1.2em;
    font-weight: 700;
    color: #4682A9;
}

.price{
    font-size: 1.0em;
    font-weight: 600;
    color: #4682A9;
}

.title-price, .title-price-total {
    font-weight: 500;
    font-size: 0.8em;
    color: #868E8C;
}

@media (max-width:576px) {
    .title-product{
        font-size: 1.2em;
    }

    .title-price {
        font-size: 0.7em;
    }

    .price {
        font-size: 0.8em;
    }
}

.btn-bucket {
    font-size: 14px;
    font-weight: 700;
    color: #4682A9;
    border: 1px solid #4682A9;
}

.btn-bucket:hover {
    background-color: #b8d1e2;
    font-size: 14px;
    font-weight: 700;
    color: #4682A9;
    border: 1px solid #4682A9;
}

.btn-checkout {
    background-color: #4682A9;
    color: white;
    width: 320px;
    font-weight: 600;
}

.btn-checkout:hover {
    background-color: #084e7e;
    color: white;
    width: 320px;
}

a {
    text-decoration: none !important;
}

.bukti_bayar button{
    background-color: #4682A9;
    padding: 10px;
    width: 100%;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
}

.bukti_bayar button:hover{
    background-color: #084e7e;
}

#back-btn{
    background-color: #4682A9;
    padding: 12px;
    width: 100%;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 30px;
}

#back-btn:hover{
    background-color: #084e7e;
}

#outline-button{
    outline: 2px solid #4682A9;
    padding: 12px;
    width: 100%;
    color: #4682A9;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#outline-button:hover{
    background-color: #b8d1e2;
}

.container h5{
    font-size: 1.2em;
    font-weight: 800;
    color: #4682A9;
}

.container ol{
    list-style: decimal;
}

.container .guide li{
    font-family: NunitoSans, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #556260;    
}

.container h3{
    font-family: NunitoSans, sans-serif;
    color: #4682A9;
    font-weight: 800;
}


